<div class="content">
    <div class="form-page">


        <div class="title-form">Login</div>
        
            <form class="form" (ngSubmit)="login()">
                <div class="col-one">
                    <label for="email">Adresse mail : </label>
                </div>
                <div class="col-two">
                    <input class="input-text" name="email" type="email" id="email" [(ngModel)]="email">
                </div>
                <div class="col-one">
                    <label for="password">Mot de passe : </label>
                </div>
                <div class="col-two">
                    <input class="input-text" name="password" type="password" id="password" [(ngModel)]="password">
                </div>
                <div class="col-two">
                    <button class="submit-btn " type="submit">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
