<div class="content">
<div class="single-movie-content" *ngIf="movie">
    <div class="single-movie-title">{{movie.title}}</div>
    <img class="single-movie-img" src={{movie.picture}}>
    <div class="single-movie-resume">
    <p *ngIf="!authState.user"><a class="link" routerLink="/login">Connectez-vous pour noter ce film</a></p>
    <app-review *ngIf="authState.user && rateMovieOrNot()==null" [movie]="movie" (ratedMovie)="rateMovie($event)">Noter ce film</app-review>
    <p *ngIf="authState.user && rateMovieOrNot()!=null">Vous avez déjà noté ce film</p>
    <p><span class="resume-single-movie">Note : </span><span class="resume-span">{{dec(avg)}}</span></p>
    <p><span class="resume-single-movie">Réalisateur : </span><span class="resume-span">{{movie.director}}</span></p>
    <p><span class="resume-single-movie">Année : </span><span class="resume-span">{{movie.year}}</span></p>
    <p><span class="resume-single-movie">Categorie : </span><span class="resume-span"><a class="link" [routerLink]="['/category',movie.category.id]">{{movie.category.label}}</a></span></p>
    
    <p><span class="resume-single-movie">Description : </span><span class="resume-span">{{movie.description}}</span></p>
    
</div>

</div>

<p class="comment">Commentaires :</p>
<app-comment-form (newItemEvent)="addItem($event)"[movie]="movie"></app-comment-form>
<app-comment-card  *ngFor="let comment of comments" [comment]="comment"></app-comment-card>

</div>
