<Header>
    <div class="title"><a routerLink="/">Blablaciné</a></div>
   <app-search-bar></app-search-bar>
   <button *ngIf="!authState.user" class="login-btn" routerLink="login">Login</button>
   <button *ngIf="authState.user" class="login-btn" (click)="logout()">Logout</button>
   <a *ngIf="!authState.user" routerLink="/register" class=" link register-link">Register</a>
</Header>