<div class="search">
    <form (ngSubmit)="onSubmit()">
        <input class="input-text search-bar" type="text" name="search" id="search" [(ngModel)]="term">
        <button class="search-btn" type="submit">Search</button>
    </form>
</div>