<div class="content">

<p *ngIf="movies.length==0">Aucun résultat</p>
<div class="add-movie-section">
<button class="add-movie-btn" *ngIf="authState.user?.role=='ROLE_ADMIN'" routerLink="/add-movie">Ajouter un film</button>
</div>
<app-movie-card  *ngFor="let movie of movies" [movie]="movie" (deletedMovie)="deleteMovie($event)"></app-movie-card>

</div>

