body {
    margin:0;
    background-color: rgb(54, 54, 54);
}
header {
    position:fixed;
    width: 100%;
    height:100px;
    background-color: black;
    color:orange;
    z-index:2;

}
.title {
    font-size: 2.5rem;
    margin-bottom: 5px;
    
}
.title a{
    text-decoration: none;
    color:orange;
}
.title a {
    text-decoration: none;
    color:orange;
}
button {
    background-color: orange;
    border-color: orange;
    color:rgb(0, 0, 0);
}
button:active {
    color:orange;
    background-color: black;
}


.search-btn {
    padding:5px;
    margin-left:20px;
    border-radius: 6px;
    font-size: 1.2rem;
}
.search {
  margin-left: 5px;

}

.input-text {
    background-color: black;
    border-color: rgb(0, 0, 0);
    color:orange;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.input-textarea {
    background-color: black;
    border-color: rgb(0, 0, 0);
    color:orange;
}
.textarea-movie{
    height:100px;
    width: 300px;
    
}
.login-btn{
    position:absolute;
    padding:3px;
    top:10px;
    right: 5px;
    border-radius: 6px;
    font-size: 1.2rem;
}
.register-link{
    position:absolute;
    top:60px;
    right:5px;
    font-size: 1.0rem;
}
.content {
    position:absolute;
    top:90px;
    width: 100%;
    color:white;
}
.add-movie-section{
    text-align:center;
}
.add-movie-btn{
    margin-top:20px;
    font-size: 2rem;
    border-radius:6px;

}
.movie-card{
    margin-top:20px;
    width:90%;
    border:solid 2px;
    border-color:orange;
    margin-right: auto;
    margin-left:auto;
    border-radius: 6px;
}
.title-card{
    font-size: 1.5rem;
    background-color: orange;
}
.title-link{
    color:black;
    text-decoration: none;
}
.img-card {
    margin:15px;
    width:130px;
    height:180px
}

.body-card{
    display:flex;
    flex-direction: row;
    
}
.resume-card{
    margin:10px;
    color:orange;
    font-size: 1rem;
}
.modif-btn{
    margin-left:10px;
    margin-bottom:10px;
    border-radius:4px;
}
.resume-span{
    color:white;
    font-style:italic;
}
.score-span{
    color:orange;
}
.link{
    color:orange;
}
.single-movie-content{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.single-movie-title{
    text-align: center;
    margin-top:20px;
    width:90%;
    background-color: orange;
    color:black;
    font-size: 1.5em;
    border:solid 1px;
    border-radius: 6px;
    padding: 5px;
}
.single-movie-img{
    margin-top:20px;
    margin-bottom:20px;
    width:230px;
    height:300px;
}
.resume-single-movie{
    color:orange;
}
.single-movie-resume{
    text-align: center;
    width: 90%;
}
.category-list{
    text-align: center;
    font-size: 2rem;
}
.link{
    color:orange;
}
.form {
    display: grid;
    grid-template-columns: 1;
}
.form-page{
    margin-top: 10px;
}
.col-one{
    grid-column: 1/1;
}
.col-two{
    grid-column:1/1;
}

.title-form{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: orange;
    color:black;
    font-size: 2.5rem;
}
.field-form{
    margin-top: 10px;
}

.submit-btn{
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius:4px;
}
.send-btn{
    font-size: 1.2em;
    margin-top:10px;
    margin-left:20px;
    border-radius: 4px;
}
.rate-btn{
    margin-left: 10px;
    font-size: 1.2em;
    border-radius: 4px;
}

.comment-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.comment-card{
    position: relative;
    width:90%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;

}
.comment-author{
    padding:5px
}
.comment-author span{
    font-style: italic;
    color:orange;
}
.comment-content{
    font-size: 1.2rem;
    font-style:italic;
    padding: 5px;
}
.comment{
    color:orange;
    margin-left: 20px;
}
.search-bar{
    width: 150px;
}
@media (min-width:800px){

    header{
        display:flex;
        flex-direction: row;
        height:120px;
        align-items: center;
    }
    .input-text{
        height:30px;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .textarea-movie{
        height: 100px;
        width: 500px;

    }
    .title{
        font-size: 5rem;
    }
    .search {
        margin-left : 100px;
        margin-top : 40px;
    }
    .search-button{
        font-size: 1.5rem;
        
    }
    .register-link{
        font-size: 1.2rem;
        right: 22px;
        top:90px;
    }
    .login-btn{
        font-size: 1.5rem;
        right:20px;
    }

    .content {
        top:120px;
    }
    .movie-card{
        width:40%;
    }
    .title-card{
        font-size: 2.0rem;
    }
 
    .img-card{
        width:200px;
        height:260px;
    }
    .single-movie-title{
        font-size:2.5rem;
    }
    .single-movie-img{
        width:400px;
        height: 550px;
    }
    .form {
        grid-template-columns: 1fr 1fr;
    }
    .col-one{
        margin-right: 20px;
        text-align: right;
        grid-column: 1;
    }
    .col-two{
        grid-column: 2;
    }
    .rate-btn{
        margin-left: 10px;
        font-size: 1.2em;
        border-radius: 4px;
    }

    .input-textarea{
        height: 80px;
        width: 300px;
    }
    .search-bar {
        width: 300px;
    }
}


/*h1 {
    margin-top: 3px;
    margin-right: 0px;
}

button {
    height: 25px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-right: ;
    list-style-type: none;
}*/
