<div class="content">
    <div class="form-page">

        <div class="title-form">Register</div>

        <form class="form" [formGroup]="form" (ngSubmit)="register()" novalidate>
            <p *ngIf="hasError">Invalid credentials</p>
            <div class="col-one">
                <label for="email" class="field-form">Adresse mail : </label>
            </div>
            <div class="col-two">
                <input class="input-text" name="email" (blur)="verifyEmail()" formControlName="email" type="email"
                    id="email">
            
            <div *ngIf="email?.touched">
                <p *ngIf="email?.errors?.['required']">Email requis</p>
                <p *ngIf="email?.errors?.['email']">Format d'email incorrect</p>
                <p *ngIf="emailTaken">Email déjà utilisé</p>
            </div>
        </div>

    <div class="col-one">
        <label for="password" class="form-label">Mot de passe : </label>
        </div>
        <div class="col-two">
        <input class="input-text" name="password" formControlName="password" type="password" id="password">
        <p *ngIf="!password?.valid && password?.touched">Mot de passe incorrect</p>
    </div>
    <div class="col-one">
        <label for="repeatPassword" class="form-label">Répéter mot de passe : </label>
        </div>
        <div class="col-two">
        <input class="input-text" name="repeatPassword" formControlName="repeatPassword" type="password"
            id="repeatPassword">
        <p *ngIf="form.errors?.['noMatch']">Les mots de passe ne correspondent pas</p>

    </div>
    <div class="col-two">
    <button type="submit" class="submit-btn" [disabled]="!form.valid">S'enregistrer</button>
</div>
    </form>
</div>
</div>