<form class="form" (ngSubmit)="onSubmit()">

    <div class="col-one">
        <label for="title">Titre : </label>
    </div>
    <div class="col-two">
        <input class="input-text" type="text" id="title" name="title" [(ngModel)]="movie.title">
    </div>
    <div class="col-one">
        <label for="picture">URL de l'image : </label>
    </div>
    <div class="col-two">
        <input class="input-text" type="text" id="picture" name="picture" [(ngModel)]="movie.picture">
    </div>
    <div class="col-one">
        <label for="year">Année : </label>
    </div>
    <div class="col-two">
        <input class="input-text" type="text" id="year" name="year" [(ngModel)]="movie.year">
    </div>
    <div class="col-one">
        <label for="director">Réalisateur : </label>
    </div>
    <div class="col-two">
        <input class="input-text" type="text" id="director" name="director" [(ngModel)]="movie.director">
    </div>
    <div class="col-one">
        <label for="category">Catégorie : </label>
    </div>
    <div class="col-two">
        <select class="input-text" name="category" [(ngModel)]="movie.category">
            <option *ngFor="let item of categories" [ngValue]="item">{{item.label}}</option>
        </select>
    </div>
    <div class="col-one">
        <label for="description">Description : </label>
    </div>

    <textarea class="col-two input-textarea textarea-movie" id="description" name="description"
        [(ngModel)]="movie.description"></textarea>


    <div class="col-two">
        <button class="send-btn" type="submit">Envoyer</button>
    </div>
</form>