<div *ngIf="movie" class="movie-card">
    <div class="title-card">
        <a class="title-link" [routerLink]="['/movie',movie.id]">{{movie.title}}</a>
    </div>
    <div class="body-card">

        <img class="img-card" src={{movie.picture}}
            alt="Picture">

        <div class="resume-card">
            <p> Note : <span class="resume-span">{{dec(avg)}}</span><span class="score-span">/5</span></p>
            <p> Année : <span class="resume-span">{{movie.year}}</span></p>
            <p>Réalisateur : <span class="resume-span">{{movie.director}}</span>
            <p>Genre : <span class="resume-span"><a class="link" [routerLink]="['/category',movie.category.id]">{{movie.category.label}}</a></span></p>
            <div *ngIf="this.authState.user?.role=='ROLE_ADMIN'"class="admin-board">
                <button class="modif-btn" routerLink="/edit-movie/{{movie.id}}">Modifier</button>
                <button class="modif-btn" (click)="delete()">Supprimer</button>
            </div>
        </div>
    </div>

</div>