  <form (ngSubmit)="onSubmit()">

            <label for="score">Notez le film : </label>


            <select class="input-text" name="score" [(ngModel)]="review!.score">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>


        <button class="rate-btn"type="submit">Noter</button>

            </form>