<p *ngIf="!authState.user">Connectez-vous pour poster un commentaire</p>
<form (ngSubmit)="post()" *ngIf="authState.user">
    <label for="content"> Laissez un commentaire : </label>
    <textarea id="content" class="input-textarea" name="content"required [(ngModel)]="comment.content"></textarea>
    <button type="submit" class="send-btn">Envoyer</button>
</form>