<div class="comment-card">
<p  class="comment-author"><span>{{comment?.user?.email}}</span> a dit : le <span>{{comment?.date |date}}  </span></p>
<p class="comment-content">" {{comment?.content}} "</p>
</div>